---
layout: archive
title: "Interests"
permalink: /interest/
author_profile: true
---

<div id="map" style="width: 100%; height: 600px; margin-bottom:20px;"></div>

<!-- Leaflet 样式与脚本 -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/togeojson@0.16.0"></script>

<script>
  // 初始化地图
  var map = L.map('map').setView([39.9, 116.4], 5); // 默认中心在中国

  // 添加底图
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
  }).addTo(map);

  // 读取 gpx 文件夹下的所有文件
  var gpxFiles = [
    {% for file in site.static_files %}
      {% if file.path contains '/gpx/' and file.extname == '.gpx' %}
        "{{ file.path }}",
      {% endif %}
    {% endfor %}
  ];

  // 遍历加载每条轨迹
  gpxFiles.forEach(function(gpxPath) {
    fetch(gpxPath)
      .then(response => response.text())
      .then(gpxText => {
        var parser = new DOMParser();
        var gpxDoc = parser.parseFromString(gpxText, "application/xml");
        var geojson = toGeoJSON.gpx(gpxDoc);

        var coords = geojson.features[0].geometry.coordinates;
        var latlngs = coords.map(c => [c[1], c[0]]);
        
        // 绘制轨迹
        var polyline = L.polyline(latlngs, {color: 'blue', weight: 3, opacity: 0.7}).addTo(map);

        // 计算属性：时间、长度、速度
        var times = geojson.features[0].properties.coordTimes;
        var startTime = times ? new Date(times[0]) : null;
        var endTime = times ? new Date(times[times.length-1]) : null;
        var duration = (startTime && endTime) ? ((endTime - startTime)/1000/60).toFixed(1) : "未知";

        var length = 0;
        for (var i=1; i<latlngs.length; i++) {
          length += map.distance(latlngs[i-1], latlngs[i]);
        }
        var lengthKm = (length/1000).toFixed(2);

        var speed = (duration && duration>0) ? (lengthKm / (duration/60)).toFixed(2) : "未知";

        polyline.bindPopup(
          "<b>轨迹文件：</b> " + gpxPath.split("/").pop() + "<br>" +
          "<b>开始时间：</b> " + (startTime ? startTime.toLocaleString() : "未知") + "<br>" +
          "<b>结束时间：</b> " + (endTime ? endTime.toLocaleString() : "未知") + "<br>" +
          "<b>时长：</b> " + duration + " 分钟<br>" +
          "<b>长度：</b> " + lengthKm + " 公里<br>" +
          "<b>平均速度：</b> " + speed + " km/h"
        );
      });
  });
</script>
